.header-contacts {

    @media screen and (max-width: $tablet-to) {
        display: none;
    }
}

.header-contacts__list {
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.header-contacts__item {
    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

.header-contacts__link {
    @extend %text-primary;
    display: flex;
    align-items: center;
    color: #448ccb;

    &:focus,
    &:hover {
        color: #336c9e;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

.header-contacts__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    fill: $secondary-text-color;
}   