.header-nav {
    @media screen and (min-width: $tablet) {
        margin-right: 84px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 305px;
    }
}

.header-nav__list {
    @extend %title-h2;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;

        font-size: 14px;
        line-height: 1.14;
    }
}

.header-nav__item {
    // text-align: center;
    
    @media screen and (max-width: $tablet-to) {
        height: 65px;
        width: 100%;
        
        &:focus,
        &:hover {
            background-color: rgba(245, 245, 245, 0.832);;
        }
    }

    @media screen and (min-width: $tablet) {
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.header-nav__link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}