.header-contacts {

    @media screen and (max-width: $tablet-to) {
        display: none;
    }
}

.header-contacts__list {
    display: flex;
}

.header-contacts__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}