%button-primary {
    min-width: 200px;
    height: 50px;
  
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: $primery-white-color;
  
    background-color: $accent-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    cursor: pointer;
}

%title {

}

%subtitle {
    
}