.aboutUs {
    background-color: rgba(245, 245, 245, 0.832);
}

.aboutUs__container p {
    text-indent: 20px;
}

.aboutUs__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
}