.aboutUs {
    background-color: rgba(245, 245, 245, 0.832);
}

.aboutUs__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutUs__container p {
    text-indent: 20px;
}

.aboutUs__title {
    @extend %title-h2;
    margin-bottom: 20px;
}

.aboutUs__text {
    @extend %text-primary;
    text-align: justify;
    color: $secondary-text-color;
}