.products__container {
    @media screen and (min-width: $tablet) {
        // display: flex;
        // justify-content: center;
    }
}

.products__title {
    @extend %title-h2;
    margin-bottom: 20px;
}

.products__card {
    // padding: 15px;
    // background-color: rgba(245, 245, 245, 0.832);

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-around;
    }
}

// .products__subtitle {
//     margin-bottom: 5px;
//     font-size: 18px;
//     line-height: 24px;
//     font-weight: 400;
//     text-align: center;
// }

// .products__item {
//     display: flex;
//     flex-direction: column;
// }

// .products__img__wrap {
//     @media screen and (min-width: $tablet) {
//         margin-right: 50px;
//     }
// }

.products__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

    border-radius: 10px;
}

.products__sub {
    @extend %text-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $secondary-text-color;
}

.products__sub__info {
    position: relative;
}

.products__sub__list {
    // display: none;
    // position: sticky;
}
.products__sub__item {

}

.products__sub__type {
    font-size: 20px;
    text-align: center;
    color: #000


}

.products__sub__size {  
    font-size: 20px;
}

.products__sub__price {
    font-size: 20px;
    color: #009241;
}

.products__sub__price--large {
    font-size: 26px;
}
// .products__sub__title--bold {
//     font-weight: 500;
// }

// .products__sub__item:not(:last-child) {
//     margin-bottom: 5px;
// }